.popUpWrapper {
	background-color: rgba(0, 0, 0, 60%);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 99999;

	.form {
		display: flex;
		flex-direction: column;
		background-color: var(--background-card);
		border-radius: 1rem;
		gap: 1rem;
		padding: var(--large-padding);

		textarea {
			resize: none;
			border-radius: 0.2rem;
			padding: 0.5rem 1rem;
			border-radius: var(--button-radius);
			border: none;
			font-size: 1.25rem;
		}

		input {
			border-radius: 0.2rem;
			padding: 0.5rem 1rem;
			border-radius: var(--button-radius);
			border: none;
			font-size: 1.25rem;

			&[type="submit"] {
				background-color: var(--touch);
				color: var(--background);
			}
		}
	}

	input[type="submit"] {
		display: flex;
		background-color: var(--background);
		border: solid;
		border-radius: var(--button-radius);
		color: var(--touch);
		font-weight: 900;
		padding: 0.5rem 1rem;
		cursor: pointer;
		transition: all 0.3s;
		align-self: center;

		&:hover {
			background-color: var(--touch);
			color: var(--background);
			transform: scale(1.1);
		}
	}
}
.closeButton {
	align-self: flex-end;
	cursor: pointer;
}
