.button {
	display: flex;
	justify-content: flex-start;
	margin-left: var(--small-margin);

	a {
		display: flex;
		gap: 1rem;
		text-decoration: none;
		color: var(--text);
		border: 2px solid var(--touch);
		padding: 0.25rem 0.5rem;
		border-radius: var(--button-radius);
		background-color: var(--background);
		color: var(--touch);
		font-weight: 600;
	}
}
