.formWrapper {
	background-color: var(--background-card);
	padding: var(--large-padding);
	border-radius: var(--border-radius);

	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	height: 80%;

	.closeButton {
		align-self: flex-end;
		cursor: pointer;
	}

	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: var(--large-padding);
		gap: 1rem;
		width: 100%;

		.inputWrapper {
			display: flex;
			flex-direction: column;
			gap: 1rem;

			select {
				resize: none;
				border-radius: 0.2rem;
				padding: 0.5rem 1rem;
				border-radius: var(--button-radius);
				border: none;
				font-size: 1.25rem;
			}

			textarea {
				resize: none;
				border-radius: 0.2rem;
				padding: 0.5rem 1rem;
				border-radius: var(--button-radius);
				border: none;
				font-size: 1.25rem;
			}

			input {
				padding: 0.5rem 1rem;
				border-radius: var(--button-radius);
				border: none;
				font-size: 1.25rem;
			}

			.tagsList {
				display: flex;
				gap: 1rem;
				overflow-x: scroll;
				-ms-overflow-style: none;
				scrollbar-width: none;

				.tag {
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 0.5rem;
					display: flex;
					background-color: var(--background);
					border: solid;
					border-radius: var(--button-radius);
					color: var(--touch);
					font-weight: 500;
					padding: 0.25rem 0.75rem;
					cursor: pointer;
					transition: all 0.3s;
					align-self: center;

					&:hover {
						background-color: var(--touch);
						color: var(--background);
					}
				}

				&::-webkit-scrollbar {
					display: none;
				}
			}
		}

		button {
			display: flex;
			background-color: var(--background);
			border: solid;
			border-radius: var(--button-radius);
			color: var(--touch);
			font-weight: 900;
			padding: 0.5rem;
			cursor: pointer;
			transition: all 0.3s;
			align-self: center;

			&:hover {
				background-color: var(--touch);
				color: var(--background);
				transform: scale(1.1);
			}
		}
	}
}
