.section {
	padding: 2rem;
	margin: var(--small-margin);
	background-color: var(--background-card);
	border-radius: var(--border-radius);

	p {
		&:first-of-type {
			margin-top: 1rem;
		}
	}

	.sectionTitle {
		text-transform: uppercase;
		position: relative;
		padding: 1rem 0 0.5rem;
		z-index: 1;
		display: inline;

		&::before {
			content: "";
			position: absolute;
			bottom: 0.5rem;
			width: 110%;
			height: 1rem;
			border-radius: 1rem;
			background: var(--secondary);
			z-index: -1;
		}
	}

	.listWrapper {
		list-style: circle;
		justify-content: center;
		padding: var(--large-padding);
	}
}

@media only screen and (max-width: 1000px) {
	.section {
		max-width: 90%;
		margin-right: auto;
		margin-left: auto;
	}
}
