.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: var(--large-padding);
	background-color: var(--background);
	border-radius: 1rem;
	gap: var(--small-margin);
	box-shadow: 19px 15px 30px 16px rgba(0, 0, 0, 0.1);
	margin: 0 var(--large-padding);

	button {
		display: flex;
		gap: 0.5rem;
		align-items: center;
		justify-content: center;
		background-color: var(--background);
		border: solid;
		border-radius: var(--button-radius);
		color: var(--touch);
		font-weight: 900;
		padding: 0.5rem;
		cursor: pointer;
		transition: all 0.3s;
		align-self: center;

		&:hover {
			background-color: var(--touch);
			color: var(--background);
			transform: scale(1.1);
		}
	}
}
